body {
  text-align: center;
  background-color: black;
  color: white;
}

.board {
  width: 450px;
  height: 450px;
  background-color: rgb(80, 220, 100); 
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-row {
  display: flex;
  justify-content: space-between;
}

.board-tile {
  /* border: 1px solid white; */
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: inset;
}

.board-tile.true {
  background-color: red;
}

.board-tile:hover {
  background-color: rgb(11, 102, 35);
  color: white;
} 

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8)
}

.modal-alert {
  position: absolute;
  top: 20%;
  left: 37.5%;
  right: 0;
  bottom: 0;
  background: white;
  color: black;
  width: 25%;
  height: 100px;
  z-index: 3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0 0 0; 
  padding: 20px 20px;
}


